{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Wellcome to Tijuana !!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque minima repellendus ut excepturi eum voluptates deserunt fugiat fuga aperiam quidem assumenda a magnam hic consectetur quaerat delectus, quia iste. Sapiente ad temporibus delectus impedit quia, similique illum beatae magni explicabo vitae, rem, tempore vel saepe quaerat perspiciatis recusandae cum eveniet vero mollitia tenetur suscipit! Itaque culpa earum sit iste recusandae officia mollitia, omnis tempora pariatur at voluptatem ut dignissimos temporibus nam fugit minima ab cupiditate labore placeat ipsa. Ratione assumenda doloremque ex architecto, sequi delectus fugiat. Fugiat amet, veniam, ipsum, quisquam maiores dicta voluptate corrupti magnam totam debitis temporibus!</p>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin">
            Signin
        </a>

        <a class="btn btn-dark" href="/signup">
            Signup
        </a>
    </div>
    </section>
</main>
{% endblock %}